@tailwind base;
@tailwind components;
@tailwind utilities;
@supports ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) or
	(-webkit-backdrop-filter: blur(0)) {
	.supports-backdrop-blur\:bg-white\/95 {
		background-color: rgb(255 255 255/0.95);
	}
	.supports-backdrop-blur\:bg-white\/65 {
		background-color: rgb(255 255 255/0.65);
	}
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
